.stApp{
    background:#F5F7FB;
}

h1,h2,h3{
    color:#1E293B;
}

div[data-testid="stMetric"]{
    background:white;
    padding:15px;
    border-radius:15px;
    box-shadow:0px 4px 10px rgba(0,0,0,.08);
}